
<!DOCTYPE html>
<html>
<head>
    <title>Events Placement</title>
    <meta charset="utf-8">


{% include 'snippets/css.html' %}
</head>

<body>
    {% include 'snippets/nav.html' %}
<div id="container">
<div id="toolbar">
    <select class="form-control">
        <option value="">Export Basic</option>
        <option value="all">Export All</option>
        <option value="selected">Export Selected</option>
    </select>
</div>



<table
    class="table table-hover table-fixed  table-condensed table-striped"
    id="table" data-toggle="table"

    data-show-refresh="false"
    data-show-export="true"
    data-click-to-select="true"
    data-show-columns="true"
    data-search="true"
    data-mobile-responsive="true"
    data-icon-size="m"
    data-toolbar="#toolbar">

    <thead class="thead-default">
        <tr>
            <th class="bs-checkbox col-xs-01"  data-field="state">
                <div class="th-inner">
                    <input name="btSelectAll" type="checkbox">
                </div>
            </th>
            {% for k, v in object_list.items %} {% if forloop.first %} {% for key in v %} {% if key|length == 2 %}

            <th class="col-xs-3" data-toggle="tooltip" data-placement="top"
                title="
                {% if key == 'CA' %}
                caribbean.com.ua
                {% elif key == 'PA' %}
                parter.com.ua
                {% elif key == 'CO' %}
                concert.ua
                {% elif key == 'KA' %}
                karabas.ua
                {% endif %}">
                <div class="th-inner">
                    {{ key }}
                </div>

            </th>

            {% elif key == 'date' %}
            <th class="col-xs-2">
                <div class="th-inner">
                    {{ key|upper }}
                </div>
            </th>

            {% else %}
            <th class="col-xs-3">
                <div class="th-inner">
                    {{ key|upper }}
                </div>
            </th>

            {% endif %} {% endfor %} {% endif %} {% endfor %}

        </tr>
    </thead>
    <tbody>
        {% for k, v in object_list.items %} {% if not forloop.first %}

        <tr data-index="{{ forloop.counter }}">
            <td class="bs-checkbox ">
                <input data-index="{{ forloop.counter }}" name="btSelectItem" type="checkbox">
            </td>
            {% for key, val in v.items %} {% if key|length > 2 %}
            {% if key == 'date' %}
            <td>
                <p>{{ val }}</p>
            </td>
            {% else %}
            <td>
                <p>{{ val }}</p>
            </td>
            {% endif %} {% elif key|length == 2 %}
            {% if val not in 'None' %}

            <td class="table-success col-xs-1">
                <p>
                    <a href="{{ val }}" class="btn-full">
                        <!-- <div style="height:100%;width:100%"> -->
                        &nbsp;{{ val }}
                        <!-- </div> -->
                    </a>
                </p>
            </td>
            <!-- <a href="{{ val }}" ></a> -->
            {% else %}
            <td data-field="no-url" class="table-danger">No</td>
            {% endif %} {% endif %} {% endfor %}
        </tr>

        {% endif %} {% endfor %}
    </tbody>
</table>

</div>
</div>
{% include 'snippets/js.html' %}
<script>
    var $table = $('#table');
    $(function () {
        $('#toolbar').find('select').change(function () {
            $table.bootstrapTable('destroy').bootstrapTable({
                exportDataType: $(this).val()
            });
        });
    })
</script>

</body>

</html>
